
/* ==========================================================================
Base styles:
========================================================================== */
/* Fix to include padding and border in the total width for each element */
* {
  box-sizing: border-box;
  margin: 0;
}

body{
  color: #393B31;
  font-family: 'Alike Angular', serif;
  background-color: #EBE3CB;
  text-align: center;
}
/*why does the img take so long to load?
*/
#homepage{
  background-image: url("../img/home-header.jpg");
  height: 750px;
  background-size: cover;
  background-position: right;
  max-width: 100%;
  padding-bottom: 10px;
}
#about-title{
  background-image: url("../img/hard-hats.jpg");
  height: 750px;
  background-size: cover;
  background-position: right;
  max-width: 100%;
  padding-bottom: 10px;
  color: white;
}

h1{
  font-family: 'Alike Angular', serif;
  font-size: 60px;
  padding-top: 65px;
  padding-left: 60px;
  text-align: left;
  margin: 0;
  display: inline-block;
}

nav a{
display: none;
}

i{
  text-align: right;
  font-size: 30px;
}


button{
  border: 1px solid #393B31;
  padding: 7px 12px;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  display: inline-block;
  background-color: inherit;
  transition: all .5s ease-in-out;
}
button:hover{
  background-color: #F26101;
  border: none;
  color: white;
}

section{
  height: 500px;
  font-size: 30px;
  padding-left: 80px;
  padding-right: 80px;
  padding-top: 80px;
}

#gem-show{
  background-image: url("../img/flat.jpg");
  background-repeat: repeat;
  background-position: center;
  /*  -webkit-filter: blur(2px);
  how do i just blue the bacground image?
  do i make this a JS thing maybe?*/
  height: 650px;
  max-width: 150%;
  padding-top: 50px;
}
#gem-show a{
  text-transform: uppercase;
  font-size: 50px;
  color: white;
  /*how do i move this away fromt the image's top?*/
  transition: all .5s ease-in-out;
}
#gem-show p{
  font-size: 20px;
  color: white;
}

#gem-show a:hover{
  color: #F26101;
}
/*how do i style this altogether?
can i make it so when you hover over everything in the image
the image lightens and the words turn color and the
whole thing is an anchor?*/

/*#rick{
  background-image: url("../img/hiking.jpg");
  background-repeat: no-repeat;
  background-position: center;
  height: 650px;
}
#rick p{
  font-size: 30px;
  color: white;
}
#rick a{
  font-size: 30px;
  color: white;
  transition: all .2s ease-in-out;
}
#rick a:hover{
  color: #F26101;
}*/

a{
  text-decoration: none;
  color: #393B31;
  transition: all .2s ease-in-out;
}
a:hover{
  color: #F26101;
}
/* Fix for responsive images */

img {
  max-width: 100%;
}
#favicon{
  color: inherit;
  text-align: center;
  font-size: 25px;
  padding: 20px;
  float: right;
}

#favicon:hover{
  color: #F26101;
}

.blurb-1 {
 transform: translateY(30%);
  opacity: 0;
  transition: all .5s ease-in-out;
}

.blurb-2 {
 transform: translateY(30%);
  opacity: 0;
  transition: all .5s ease-in-out;
}
.float-up {
   transform: translateX(0);
   opacity: 1;
   transition: all .5s ease-in-out;
 }
